@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 160px 80px;
}

.leftmain {
    width: 50%;
    /* padding: 0px; */

}

h2 {
    font-weight: bold;
    margin: 20px 0;
}

p {
    font-size: 20px;
    margin: 20px 0;

}

.btn {
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    /* margin-left: -30px; */
}

img {
    width: 600px;
}